<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>شرکت ها</title>
<!-- <link rel="shortcut icon" href="img/logo.jpg" type="image/x-icon" /> -->
<link rel="stylesheet" href="/css/bootstrap.rtl.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">   
<link rel="stylesheet" href="/css/vazir.css" />
<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/footer.css">
<script src="/js/bootstrap.bundle.min.js" defer></script>

